:root{
    --color-1: #ff0000;
    --color-2: #FFFFFF;
    --color-3: #000000;
    --color-4: #FFFFFF;
}
@font-face {
font-family: "Roboto-Mono-Bold";
src: url(../storage/font/Roboto-Mono/RobotoMono-Bold.ttf);
}
@font-face {
font-family: "Roboto-Mono-Regular";
src: url(../storage/font/Roboto-Mono/RobotoMono-Regular.ttf);
}
@font-face {
font-family: "Roboto-Mono-Medium";
src: url(../storage/font/Roboto-Mono/RobotoMono-Medium.ttf);
}
@font-face {
font-family: "Roboto-Mono-SemiBold";
src: url(../storage/font/Montserrat/Montserrat-SemiBold.ttf);
}