:root{
    --color-1: #ff0000;
    --color-2: #FFFFFF;
    --color-3: #000000;
    --color-4: #FFFFFF;
}
@font-face {
font-family: "Lato-Regular";
src: url(../storage/font/Lato/Lato-Regular.ttf);
}
@font-face {
font-family: "Lato-Bold";
src: url(../storage/font/Lato/Lato-Bold.ttf);
}
@font-face {
font-family: "WorkSans-Medium";
src: url(../storage/font/Work_Sans/WorkSans-Medium.ttf);
}
@font-face {
font-family: "Montserrat-SemiBold";
src: url(../storage/font/Montserrat/Montserrat-SemiBold.ttf);
}